body {
  margin: 0;
}

table {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 28% 40% 28%;
  column-gap: 2%;
  margin-top: 1rem;
}

.checkbox .pseudo-label, .checkbox .label, .number .pseudo-label, .number .label, .select .pseudo-label, .select .label, .file-icon .pseudo-label, .file-icon .label {
  font-family: Calibri;
  font-weight: 800;
  text-transform: uppercase;
}

.file-name {
  font-style: italic;
}

.form {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.btn {
  padding: 5px 12px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.btn--bg-fill {
  background-color: #009dda;
  color: white;
}
.btn--bg-fill:hover, .btn--bg-fill:focus {
  background-color: #0486b9;
}
.btn--submit {
  width: fit-content;
  margin: 0.5rem;
}
.btn.sub, .btn.add {
  background: #fff url("/src/img/plus-minus.svg") no-repeat 0 0;
  background-size: 4.8rem 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
  text-indent: 100%;
  width: 2rem;
  height: 2rem;
  border-top: 1px solid #2e394d;
  border-bottom: 1px solid #2e394d;
}
.btn.sub:focus, .btn.add:focus {
  outline: none;
}
.btn.sub:hover, .btn.sub:focus, .btn.add:hover, .btn.add:focus {
  opacity: 1;
}
.btn.add {
  background-position-x: -2.8rem;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  border-right: 1px solid #2e394d;
  padding-left: 0;
}
.btn.sub {
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  border-left: 1px solid #2e394d;
  padding-right: 0;
}
.btn:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn:disabled:hover {
  opacity: 0.5;
  cursor: default;
}

.upload {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
}
.upload .file-infos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload .file-infos .input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}
.upload .file-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 10px;
  transition: 0.2s;
  box-sizing: border-box;
  background-color: #fff;
  color: #2e394d;
  border: 2px dashed #009dda;
}
.upload .file-icon .label {
  margin-top: 1rem;
  color: #000;
}
.upload .file-name {
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

.number {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}
.number .label {
  padding-right: 1rem;
}
.number .input {
  width: 50px;
  border: none;
  color: #555;
  background-color: #fff;
  background-image: none;
  text-align: center;
  -moz-appearance: textfield;
  border-top: 1px solid rgba(46, 57, 77, 0.5);
  border-bottom: 1px solid rgba(46, 57, 77, 0.5);
  font-size: 1rem;
  height: 2rem;
  padding: 0;
  box-sizing: border-box;
}
.number .input:focus {
  border-top: 1px solid #2e394d;
  border-bottom: 1px solid #2e394d;
  outline: none;
}
.number .input::-webkit-inner-spin-button, .number .input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number .input:disabled {
  background-color: rgba(0, 0, 0, 0.05);
}

.checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}
.checkbox .pseudo-label {
  padding-right: 1rem;
}
.checkbox .input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
  box-sizing: border-box;
}
.checkbox .label {
  width: 3.5rem;
  background: #2e394d;
  height: 1.5rem;
  display: inline-block;
  border-radius: 50px;
  /* margin: 40px; */
  position: relative;
  transition: all 0.3s ease;
  transform-origin: 20% center;
  cursor: pointer;
  box-sizing: border-box;
}
.checkbox .check {
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  background: #c34a4a;
  transition: 0.4s ease;
  top: 1px;
  left: 32px;
  box-sizing: border-box;
}
.checkbox .check::before, .checkbox .check::after {
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background: #fff;
  transition: 0.4s ease;
  content: "";
}
.checkbox .check::before {
  transform: rotate(-45deg) translate(-5px, 7px);
}
.checkbox .check::after {
  transform: rotate(45deg) translate(7px, 5px);
}
.checkbox .input:checked + .label .check {
  left: 2px;
  transform: rotate(360deg);
  background: #8BC34A;
}
.checkbox .input:checked + .label .check::before {
  width: 16px;
  transform: rotate(-45deg) translate(-4px, 12px);
}
.checkbox .input:checked + .label .check::after {
  width: 10px;
  transform: rotate(45deg) translate(10px, 8px);
}

.select {
  margin: 0.5rem;
  display: none;
  flex-direction: column;
}
.select .label {
  display: block;
  margin-bottom: 0.5rem;
}
.select .input {
  margin: 0.2rem 0;
}

.wrapper {
  margin: 0.5rem;
}

.wrapper--generated-input {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.wrapper--generated-input input {
  margin: 0.2rem 0;
}
