

.wrapper{
    margin: 0.5rem;
}

.wrapper--students-name{
    font-family: Calibri;
        font-weight: 800;
        text-transform: uppercase;
    padding-right: 1rem;
    
}

.wrapper--generated-input{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.wrapper--generated-input input{
    margin: 0.2rem 0;
}

.wrapper--students-name{
    display: none;
    flex-direction: column;
    width: max-content;
}
.wrapper--students-name input{
    margin: 0.2rem 0;
}