table{
    display: none;
}
.form{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.wrapper, .form input[type=submit]{
    margin: 0.5rem;
}

.form input[type=submit]{
    width: fit-content;
}

/* .form input[type=file]{
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.label--file{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
}
.file--custom{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}
.file--custom::after{
    content: "Vybrat soubor...";
}
.file--custom::before{
    position: absolute;
    top: -.075rem;
    right: -.075rem;
    bottom: -.075rem;
    z-index: 6;
    display: block;
    content: "Hledat";
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: .075rem solid #ddd;
    border-radius: 0 .25rem .25rem 0;
    box-sizing: border-box;
} */

.wrapper--file {
    font-family: sans-serif;
    position: relative;
    display: block;
    width: 45vw;
    height: 34vh;
    margin: 0;
    background-color: #e9ecef;
    z-index: 20;
    border-radius: 20px;
    padding: 20px 30px 30px 15px;
    box-sizing: border-box;
}
.wrapper--file .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}
.wrapper--file .file-content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 8px dashed rgba(73, 80, 87, .6);
    border-radius: 20px;
    transition: .2s;
}
.wrapper--file .file-infos {
    display: flex;
    width: 260px;
    height: 94px;
    min-width: 100px;
    min-height: 40px;
    margin: 0 auto;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
}
.wrapper--file .file-icon {
    position: relative;
    height: 100%;
    margin: 0;
    color: rgba(73, 80, 87, .6);
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    transition: .2s;
    box-sizing: border-box;
}
.wrapper--file .file-icon i,
.wrapper--file .file-icon span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.wrapper--file .file-icon i {
    margin-bottom: 20px;
    margin-top: 5px;
}

.fa-file-upload:before {
    content: "\f574";
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-7x {
    font-size: 2rem;
}
.wrapper--file .file-icon .icon-shadow {
    position: relative;
    display: block;
    width: 95px;
    height: 7px;
    border-radius: 100%;
    background-color: #e3e5e8;
    top: -17px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--file .file-icon > span {
    position: absolute;
    bottom: 10px;
    left: 18px;
    width: calc(100% - 20px * 2);
}
.wrapper--file .file-icon > span .has-drag {
    display: inline;
}
.wrapper--file .file-name {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    right: 0;
    font-weight: bold;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.wrapper--checkbox{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrapper--checkbox span, .wrapper--number span, .wrapper--students-name{
    font-family: Calibri;
    font-weight: 800;
    padding-right: 1rem;
    text-transform: uppercase;
}
input[type=checkbox]{
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
    box-sizing: border-box;
}
.label--prohlaseni,.label--zadani, .label--zahrnout-vse{
    width: 3.5rem;
    background: #2e394d;
    height: 1.5rem;
    display: inline-block;
    border-radius: 50px;
    /* margin: 40px; */
    position: relative;
    transition: all .3s ease;
    transform-origin: 20% center;
    cursor: pointer;
    box-sizing: border-box;
}
.check{
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    background: #c34a4a;
    transition: .4s ease;
    top: 1px;
    left: 32px;
    box-sizing: border-box;
}
.wrapper--checkbox .check:before {
    width: 20px;
    transform: rotate(-45deg) translate(-5px, 7px);
}
.wrapper--checkbox .check:after {
    width: 20px;
    transform: rotate(45deg) translate(7px, 5px);
}

.check::before, .check::after {
    height: 4px;
    border-radius: 10px;
    background: #fff;
    transition: .4s ease;
    content: "";
    position: absolute;
}
input[type=checkbox]:checked + label .check:before {
    width: 16px;
    transform: rotate(-45deg) translate(-4px, 12px);
}
input[type=checkbox]:checked + label .check:after {
    width: 10px;
    transform: rotate(45deg) translate(10px, 8px);
}
input[type=checkbox]:checked + label .check {
    left: 2px;
    transform: rotate(360deg);
    background: #8BC34A;
}

.wrapper--generated-input{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.wrapper--generated-input input{
    margin: 0.2rem 0;
}

.wrapper--students-name{
    display: none;
    flex-direction: column;
    width: max-content;
}
.wrapper--students-name input{
    margin: 0.2rem 0;
}



.wrapper--number{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.btn:disabled, .btn:disabled:hover {
    background-color: darkgrey;
    cursor: not-allowed;
}
.wrapper--number .counter-minus, .wrapper--number .counter-plus {
    text-align: center;
}
.wrapper--number .counter-minus, .wrapper--number .counter-plus, .wrapper--number input[type="text"] {
    
    text-align: center;
}
.btn-primary {
    background-color: #009dda;
}
.btn {
    padding: 5px 12px;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #0486b9;
}
.wrapper--number input[type="text"]:focus{
    border: none;
    outline: none;
}
.wrapper--number input[type="text"] {
    width: 50px;
    
    border: none;
    
    /* padding: 6px 12px; */
    color: #555;
    background-color: #fff;
    background-image: none;
    
}