.number{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.5rem;

    .label{
        padding-right: 1rem;
    }
    .input{
        width: 50px;
        border: none;
        color: #555;
        background-color: #fff;
        background-image: none;
        text-align: center;
        &:focus{
            border: none;
            outline: none;
        }
    }
}