.checkbox{
    .pseudo-label{
        font-family: Calibri;
        font-weight: 800;
        text-transform: uppercase;
    }
}
.number{
    .label{
        font-family: Calibri;
        font-weight: 800;
        text-transform: uppercase;
    }
}