.form {
  width: 100%;
  box-sizing: border-box;
  padding: 0;

  display: grid;
  grid-template-columns: 28% 40% 28%;
  grid-column-gap: 2%;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  /* align-items: center; */
}
