li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  svg {
    fill: rgb(255, 185, 56);
    stroke: rgb(255, 185, 56);
    transform: rotateX(0deg) rotateY(180deg) rotateZ(-30deg);
    width: 6rem;
  }
}
